.reveal small {
  font-size: 34px;
  text-transform: lowercase;
  vertical-align: middle;
}

.reveal ul {
  font-size: 28px;
}

.reveal li {
  padding: 10px 5px;
}

.title-slide {
  width: 65%;
  overflow: hidden;
  position: relative;
  left: 15%;
}

.title-slide .title-1 {
  float: left;
}

.title-slide .title-fn, .title-slide .title-rx {
  font-size: 115px;
  text-align: right;
}

.title-slide .title-js {
  float: right;
  font-size: 250px;
  line-height: 1.08;
  color: rgb(19, 219, 240);
  text-shadow: none;
}

.reveal blockquote {
  font-size: 30px;
  font-style: normal;
}